.form-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 1px solid #000; */
  background-color: #fc5f00;
}

.reservation-section {
  /* margin-top: 5rem; */
  max-width: 1000px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 2rem 2rem; */
  border: 1px solid #fc5f00;
}

.reservation-section .heading {
  width: 60%;
  margin: 0 auto;
  color: #faf8f1;
}

.heading h1 {
  font-size: 5vh;
}
.heading p {
  font-size: 2vh;
}

.reservation-section .heading > * {
  padding: 0.75rem 0;
}

.reservation-section .form {
  width: 60%;
  margin: 1rem auto;
  /* margin: 1rem 0; */
  /* overflow: auto; */
  /* padding: 0 8rem; */
}

.form > * {
  padding: 0.5rem 0;
}

.form label {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bold;
  text-align: start;
  color: #faf8f1;
}

.form input {
  width: 100%;
  height: 40px;
  border: 1px solid #faf8f1;
  /* border-radius: 40px; */
  border-radius: 0px;
  outline: none;
  /* background-color: #fc5f00; */
  background: transparent;
  padding: 0 1rem;
  color: #faf8f1;
  font-size: 1.9vh;
}

.form select {
  width: 100%;
  height: 40px;
  border: 1px solid #faf8f1;
  /* border-radius: 40px; */
  border-radius: 0px;
  outline: 1px solid #faf8f1;
  /* background-color: #fc5f00; */
  background: transparent;
  padding: 0 1rem;
  color: #faf8f1;
  font-size: 1.9vh;
}

.form select option {
  color: #000;
  font-size: 1.9vh;
}

.form input:active,
.form input:focus {
  outline: 2px solid #faf8f1;
}

.actions button {
  width: 100%;
  /* border-radius: 40px; */
  border-radius: 0px;
  height: 45px;
  margin-top: 40px;
  outline: none;
  font-size: 2vh;
  text-transform: capitalize;
  background-color: #fc5f00;
  color: #faf8f1;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); */
  border: 2px solid #faf8f1;
  cursor: pointer;
  transition: all ease 0.2s;
}

.actions button:hover {
  border-color: #000;
  color: #000;
  background: transparent;
}

@media only screen and (max-width: 769px) {
  .form-section {
    margin-top: 5rem;
    display: block;
    height: auto;
  }
  .reservation-section {
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  .reservation-section .heading {
    width: 80%;
  }
  .reservation-section .form {
    width: 80%;
  }
}
